<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
</head>
<body>
  <header>
    <h1>{{ title }}</h1>
  </header>
  <main>
    <div id="status">
      <span id="status-text"></span>
    </div>

    {{ content | safe }}
    
    <script type="module">
      import { startSearching, makeInstances } from '/assets/js/instances.js';

      const serviceName = '{{ serviceName }}'
      const rawInstances = {{ generated[serviceName].instances | dump | safe }}
      const instances = makeInstances({ rawInstances, serviceName });
      const config = {
        instances: instances,
        serviceName: serviceName,
        cacheKey: '{{ cacheKey | default('undefined') }}',
        cacheExpiry: {{ cacheExpiry | default('undefined') }},
        statusTimeout: {{ statusTimeout | default('undefined') }},
      };
      startSearching(config);
    </script>
  </main>
</body>
</html>
