{% extends "layouts/base.njk" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section id="status" role="status" aria-live="polite">
  <div id="spinner" class="hidden"></div>
  <span id="status-text"></span>
</section>

<div id="cache-status"></div>

<script type="module">
  import { startSearching, makeInstances } from './assets/js/instances.js';

  const serviceId = '{{ serviceId }}'
  const rawInstances = {{ generated[serviceId].instances | dump | safe }}
  const instances = makeInstances({ rawInstances, serviceId });
  const config = {
    instances: instances,
    serviceId: serviceId,
    cacheExpiry: {{ cacheExpiry | default('undefined') }},
    statusTimeout: {{ statusTimeout | default('undefined') }},
  };
  startSearching(config);
</script>
{% endblock %}
