---
layout: layouts/base.njk
title: jisk
---

{% block content %}
    <p>Hello World!</p>

    <h2>test cases</h2>
    <ul>
        <li><a href="/invidious?url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DykG90lE2fGA">invidious</a></li>
        <li><a href="/redlib?url=https%3A%2F%2Fnew.reddit.com%2Fr%2Fjavascript%2Fcomments%2Fo4tjz6%2Faskjs_what_is_better_than_webpack%2F">redlib</a></li>
    </ul>
{% endblock %}
